.btn-primary {
  //background-color: #33cabb;
  //border-color: #33cabb;
  color: $gray-800;
  background-color: $ap-yellow-600;
  border-color: $ap-yellow-600;
  &:hover, &:active{
    background-color: $ap-yellow-200;
    border-color: $ap-yellow-200;
    color: $gray-800;
  }

}
// .btn-bold {
//   font-family: Roboto, sans-serif;
//   text-transform: uppercase;
//   font-weight: 500;
//   font-size: 12px;
// }
.btn:hover {
  cursor: pointer;
}

.ap-primary-btn{
  cursor: pointer;
  padding: 10px 0 10px 0;
  border-radius: 2px;
  background-color: $gray-700;
  max-height: 48px;
  &:hover, &:active{
    background-color: $gray-800;
  }
}
.login-btn{
  background-color: $white;
  border-radius: 2px;
  margin-right: 2px;
  a{
    color: $gray-600;
    padding: 14px 36px;
  }
  .nav-link.active, .show>.nav-link {
    color: $gray-800;
    background-color: $ap-brown-100;
}
@media screen and (max-width: 1024px) {
  a{
    padding: 14px 20px;
  }
}
@media screen and (max-width: 500px) {
  a{
    padding: 14px 16px;
  }
  display: flex;
  justify-content: space-between;
}
}
.login-btn-send{
  cursor: pointer;
  width: 100%;
  padding: 12px 0 12px 0;
  border-radius: 2px;
  border: solid 1px #fefefe;
  background-color: $gray-700;
  &:hover, &:active{
    background-color: $gray-800;
    border: solid 1px #fefefe;
  }
}
.gray-btn{
  cursor: pointer;
  width: 100%;
  padding: 12px 0 12px 0;
  border-radius: 2px;
  border: solid 1px #fefefe;
  background-color: $gray-700;
  color: $white;
  &:hover, &:active{
    background-color: $gray-800;
    border: solid 1px #fefefe;
  }
}
.detailes-btn{
  &:hover, &:active{
    text-decoration: none;
  }
}
.news-box-btn{
  cursor: pointer;
  width: 100%;
  padding: 12px 12px 12px 12px;
  border-radius: 2px;
  color: $white;
  background-color: $ap-orange-600;
  &:hover, &:active{
    text-decoration: none;
    color: $ap-orange-600;
    background-color: $white;
  }
}
//search bar
#searchBoxOpen{
  display: none;
}
.search-box{
  margin: 50px 0 50px 0;
}
.searchbar-box{
  min-width: 450px;
  //border-radius: 2px;
  border: solid 1px $gray-500;
  @media screen and (max-width: 500px) {
    min-width: 160px;
  }
}
.searchbar-box-btn{
  min-width: 148px;
  height: 40px;
  color: $white;
  border-radius: 2px;
  padding: 4px 8px;
  @media screen and (max-width: 500px) {
  }
}
//cart
.cart-btn{
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  color: $white;
  @media screen and (max-width: 500px) {
    padding: 10px 50px 10px 50px;
  }
  &:hover, &:active{
    text-decoration: none;
    color: $white;
  }
}
//.gray-btn
.cart-next-btn {
  cursor: pointer;
  /* width: 100%; */
  /* padding: 12px 0 12px 0; */
  border-radius: 2px;
  /* border: solid 1px #fefefe; */
  background-color: #707070;
  color: #fefefe;
}
//cart
.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}
.messege-btn{
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
  color: $white;
  background-color: $gray-700;
  text-align: center;
  @media screen and (max-width: 500px) {
    padding: 10px 40px 10px 40px;
  }
  &:hover, &:active{
    text-decoration: none;
    color: $white;
  }
}
// .move {
//   animation: move 3s ease-in-out infinite;
// }
//191216 chris add
.banner-btn{
  padding: 10px 20px 10px 20px;
}