.ap-primary-btn{
  cursor: pointer;
  padding: 10px 0 10px 0;
  border-radius: 2px;
  background-color: $gray-700;
  &:hover, &:active{
    background-color: $gray-800;
  }
}
.login-btn{
  background-color: $white;
  border-radius: 2px;
  margin-right: 2px;
  a{
    color: $gray-600;
    padding: 14px 36px;
  }
  .nav-link.active, .show>.nav-link {
    color: $gray-800;
    background-color: $ap-brown-100;
}
@media screen and (min-width: 1024px) {
  padding: 14px 10px;
}
}
.login-btn-send{
  cursor: pointer;
  width: 100%;
  padding: 12px 0 12px 0;
  border-radius: 2px;
  border: solid 1px #fefefe;
  background-color: $gray-700;
  &:hover, &:active{
    background-color: $gray-800;
    border: solid 1px #fefefe;
  }
}