.header-top-btn-box{
  position: relative;
}
.header-top{
  background-color: #F5F5F5;
  height: 50px;
}
.header-top-btn{
  position: absolute;
  right: 0;
}
//
.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

.sticky + .content {
  padding-top: 102px !important;
  //z-index: 9999 ;
}
.header {
  //padding: 10px 16px;
  padding: 0px;

}
.content {
  //padding: 16px;
  padding: 0px;
}
//
.header-primary{
  width: 100%;
  background-color: aquamarine;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
.header-primary-content{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ap-logo{
  height: 100%;
  //margin: auto;
}
.menu-left{
  text-decoration: none;
  display: flex;
  list-style: none;
  margin-top: 16px;
  li{
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    &:hover{
      background-color: #777777;
      border-radius: 2px;
    }
  }
  a{
    bottom: -10px;
  }
}
.menu-right{
  text-decoration: none;
  display: flex;
  list-style: none;
  position: absolute;
  right: 0px;
  li{
    padding: 10px 8px 10px 8px;
    cursor: pointer;
  }
  img{
    bottom: -10px;
    width: 40px;
    height: 40px;
  }
}