//boostrap
@import "../scss/plugin/boostrap";
//Assuie Premier Style
@import "../scss/apStyle/apFonts.scss";
@import "../scss/apStyle/apColor";
//plugin
@import "./plugin/pureCookie";
@import "../scss/plugin/smartMenu";
@import "../scss/plugin/jquerySteps.scss";
//@import "../scss/plugin/slick";
//header
@import "../scss/Element/header";
@import "../scss/Element/searchBar";
@import "../scss/Element/cards";
@import "../scss/Element/banner";
@import "../scss/Element/footer";
@import "../scss/Element/breadcrumb";
@import "../scss/Element/btn";
@import "../scss/Element/cart";
//Assuie Premier Style
//error
@import "../scss/error/error";
.test{
  height: 400px;
}
//@at-root
.zoom {
  display: inline-block;
}
//
.navNone{
  display: none !important;
}
.modal-backdrop.show {
  //opacity: .5;
  opacity: .2;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
//
::-webkit-scrollbar {
  display: none;
}
//@at-root